@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Shippori+Antique&family=Truculenta:opsz,wdth,wght@12..72,75,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&family=Truculenta:opsz,wdth,wght@12..72,75,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    transition: .4s ease all;
}
/* --------------VARIABLE------------ */
:root{
    --color-white: rgb(255, 255, 255);
    --color-primary: rgb(26, 211, 54);
    --color-light-blue: rgb(0, 162, 255) ;
    --color-button: rgba(236, 236, 236, 0.552);
    --color-shadow: rgb(0, 0, 0, 0.1);
    --color-dengar: rgba(243, 7, 35, 0.999);
    --shadow:0 1px 6px var(var(--color-shadow))
    

}
/*  ---------------SMOOTH SCROLL------------- */
html{
    scroll-behavior: smooth;
}
/*------ CHANGE THE SCOROLL BAR DESIGN------------ */
::-webkit-scrollbar{
    width:10px ;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}
.container{
    position: relative;
    display: flex;
    width: 100%;
}
.popupbox{
    background: rgba(185, 179, 179, .7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}
.box-pop{
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(0, 0, 0, 0.1);
    height: 150px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-pop .closebtn{

text-align: center; 
font-size: 20px;
margin-left: 200px;
}
.box-pop .answer{
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(241, 83, 83);
}
.box-pop p{
    margin-bottom: 40px;
}
.popupbox.active{
display: none;
}
header{

    height: 100vh;
    width: 30%;
    background: #fff;
}
nav{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding:60px 15px;
    position: fixed;
    box-shadow: 0 1px 4px rgb(0, 0, 0, 0.1);
    z-index: 100; 
}
.menu-bar ul{ 
    list-style: none;
}
ul li{
    padding:10px 30px;
    width: 100%;
    margin:10px 0;
    background: #fff;
    border-left:4px solid rgba(17, 0, 255, 0.6);
    box-shadow: 0 1px 2px 0px rgb(0, 0, 0, 0.3);
 

    
}
ul li:hover{
    background: #dddada99;
}
ul li.active{
    margin:10px;
    background: #ffffffab;
    border-right:4px solid rgba(0, 255, 51, 0.949);
    border-bottom:1px solid  rgba(0, 213, 255, 0.427);
}

ul li a{
    color: #000;
    text-align: left;
    font-size: 12px;
}
ul li a i{
    padding: 0 5px;
}
.nav-bottom p{
    font-size: 12px;
    padding: 0px  20px;
    text-align: center;
    
    border-bottom: 1px solid gray;
}
main{
    max-width: 1200px;
}
.main-container{
position: relative;    
height: 100vh;
width: 85vw;
}
.header{
    height: 10vh;
    z-index: 300;
    background: #fff;
}
.main-header{
    display: flex;
    position: fixed;
    width: 90%;
    margin-left:10px;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    z-index: 300;
    box-shadow: 0 1px 6px rgb(0, 0, 0, 0.3);
    background: #fff;
}
.menu-button{
 margin-left: 20px;
}
h2{
   font-family: "Quintessential", serif;

}

.logo{
  margin-right: 100px;
  display: flex; 
  justify-content: center;
  align-items: center;
}
.avatar img {
    width: 40px;
    height: 40px; 
    border-radius: 50%;  
    padding:5px;
}
.logo i{
    padding: 10px;
}

.natification-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    background: rgba(0, 255, 255, 0.219);
    padding: 22px;
    box-shadow: 0 1px 6px rgb(0, 0, 0, 0.3)

}

/* --------------------table----------------- */
.btn{
    padding: 8px;
    border: none;
    outline: none;
    background: var(--color-light-blue);
    color: #fff;
    border-radius: 5px;
}
.btn.delete{
    background: var(--color-dengar);
}
.table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background:#fff;
    width: 95%;
    margin-left: 20px;
}
/* #table-like,#table-comment,#table-post,#table-user{
    display:none;
} */
table{
    width:100%;
    text-align: center;
    
    
}
#table-user{
    width:100%;
    text-align: center;
    display: none;
    overflow-x: auto;

} #table-blogs{
    width:100%;
    text-align: center;
    display: none;
    overflow-x: auto;

} 
#table-comment{
    width:100%;
    text-align: center;
    display: none;
    overflow-x: auto;
}
#table-post{
    display: none;
    overflow-x: auto;

}
thead{
    margin-bottom: 20px;
}

th{
  text-align: center;
 font-family: "Quintessential", serif;
}
td{
    text-align: center;
    font-size: 12px;
    
}
tr:nth-child(even){
    background: rgba(125, 185, 237, 0.2);
    
}
tr:first-child{
    background: #eeeeee;
}
 .description-clom{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  
.container-edit{
    background: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%;
    width: 100%;
}
.post-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.image-card{
    width:40%;
    height:40%;
    border: 1px  solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-card img{
    width: 100%;
    height: 100%;
   object-fit: cover;
   object-position: center;
}
.post-photo input{
    display: none;
}
.post-photo label{
    padding: 10px 18px;
    margin-top: 20px;
    background: blue;
    color: #fff;
    font-family: "Quintessential", serif;
    border-radius: 5px;
    cursor: pointer;

}
.container-edit .post input, textarea{
    margin-top: 10px;
    padding: 16px 40px;
    width: 100%;
    border: 1px solid  rgb(184, 177, 177);
    border-radius: 5px;
  
}
input::placeholder, textarea::placeholder{
    font-family: "Quintessential", serif;

}

.container-edit button{
    font-family: "Quintessential", serif;
    width: 100%;
    padding: 10px;
    background: blue;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px
}
form{
 margin-bottom: 20px;   
}